*.pyc
.*.swp
/*.egg-info
/.coverage
/build
/dist
/test-data
/yodeploy/tests/filesys/*
/yodeploy/tests/samples/*/configuration.json
/yodeploy/tests/samples/*/build
/yodeploy/tests/samples/*/dist
/virtualenv
/virtualenv.tar.gz
