Flask == 3.0.3
Flask-HTTPAuth == 4.8.0
Jinja2 == 3.1.4
Werkzeug==3.0.0
boto3 == 1.17.112
gunicorn == 19.9.0
requests == 2.26.0
virtualenv == 16.7.9
yoconfigurator == 0.5.2

# Development dependencies:
mock == 3.0.5
spec == 1.4.1
pytest == 8.1.1
pytest-isort == 4.0.0
pytest-spec == 3.2.0
