Flask == 3.0.3
Flask-HTTPAuth == 4.8.0
Jinja2 == 3.1.4
boto3 == 1.35.43
gunicorn == 23.0.0
requests == 2.32.3
virtualenv == 20.15.1
yoconfigurator == 0.5.2
packaging == 24.2

# Development dependencies:
pytest == 8.3.4
pytest-isort == 4.0.0
pytest-spec == 4.0.0
