# flask - run the flask app for deploying apps through yodeploy endpoints

description "yodeploy flask server"

start on runlevel [2345]
stop on runlevel [!2345]

# http://superuser.com/a/234541
exec su -s /bin/sh -c 'exec "$0" "$@"' root -- \
    /usr/local/bin/yodeploy-server

respawn
respawn limit 10 5
